{% extends 'base.html' %}
{% from 'macro/form_errors.html' import form_field_errors %}
{% block content %}
    <div class="container">
        <form class="form-signin" method="POST">
            {{ form.csrf_token }}
            {% include 'components/flash_message.html' %}
            <h2 class="form-signin-heading">忘记密码</h2>
            {{ form.username.label }}
            {{ form.username (class='form-control') }}
            {{ form_field_errors(form.username.errors) }}
            {{ form.password.label }}
            {{ form.password (type="password", class='form-control') }}
            {{ form.confirm_password.label }}
            {{ form.confirm_password (type="password", class='form-control') }}
            {{ form_field_errors(form.password.errors) }}
            {{ form_field_errors(form.confirm_password.errors) }}
            {{ form.confidentiality_question.label }}
            {{ form.confidentiality_question (class='form-control') }}
            {{ form_field_errors(form.confidentiality_question.errors) }}
            {{ form.confidentiality_answer.label }}
            {{ form.confidentiality_answer (class='form-control') }}
            {{ form_field_errors(form.confidentiality_answer.errors) }}
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 12px" type="submit">提交</button>
        </form>
    </div>
{% endblock %}