{% extends 'base.html' %}
{% block content %}
    <div class="page-header">
        <h1>关于</h1>
    </div>
    <h3>关于米吉智能益智馆</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-10">
                        <div class="thumbnail">
                            <img class="img-rounded" style="" alt="Brand" src="../static/img/img_2.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p style="text-indent: 2em">
                    株洲市米吉魔方俱乐部是由株洲市文化旅游广电体育局批准、市民政局登记成立的专业魔方交流培训比赛机构。俱乐部由省内顶尖的魔方师资团队组成，自主研发专业的课程体系，课程适应小白至魔方大师的培训。为广大魔方爱好者提供学习进阶发展的平台。
                </p>
                <p style="text-indent: 2em">
                    俱乐部成立三年以来，将魔方运动在我市进行大力普及推广，开展了形式多样公益培训活动，“魔方进校园”、“魔方进幼儿园”“魔方进社区”等，形式，通过社团课、公开课等培训模式，直接受益俱乐部培训的学员10000+人次。
                </p>
                <p style="text-indent: 2em">
                    2019-2022年株洲市米吉魔方俱乐部连续三年承办了由市教育局、市文化旅游广电体育局联合举办的株洲市“三好杯”中小学生运动会暨智力运动会魔方大赛，
                    累计培养150多名优秀魔方选手获得市级魔方大赛荣誉。培养获得ICA魔方段位认证的学员达400人次。
                </p>
                <p style="text-indent: 2em">
                    株洲市米吉魔方俱乐部秉承“教育因爱而生”的理念，以魔方载体，为培养学生的创新思维以及综合素质，进而对未来服务国家需求及民族复兴人才作出自身贡献。
                </p>
            </div>
        </div>
    </div>

    <div class="about-info">
        <h4 class="media-heading">更多咨询，扫码关注公众号</h4>
        <img class="media-object" alt="Brand" src="../static/img/img_3.png">
    </div>
    <div class="about-feedback">
        <p>如果您在使用本站过程中发现任何问题，欢迎反馈给开发者</p>
        <p>盘先生 邮箱：2456357566@qq.com</p>
    </div>
{% endblock %}
