{% extends 'base.html' %}
{% from 'macro/search.html' import search %}
{% block content %}
    <div class="page-header">
        <h1>赛事管理</h1>
    </div>
    <div>
        <a href="{{ url_for('match.create_match') }}">
            <button type="button" class="btn btn-success">
                发布赛事
            </button>
        </a>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- Table -->
        <table class="table table-bordered table-condensed table-hover table-boxed  global-table competition-table">
            <thead>
            <tr>
                <td>日期</td>
                <td>比赛名称</td>
                <td>地址</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for match in sli_content %}
                <tr>
                    <td>{{ match.match_time.strftime('%Y-%m-%d') }}</td>
                    <td>{{ match.match_name }}</td>
                    <td>{{ match.address }}</td>
                    <td>
                        <a href="{{ url_for('match.edit_match', match_id=match.id) }}">
                            <button type="button" class="btn btn-info"
                                    value="">编辑
                            </button>
                        </a>
                        <button type="button" class="btn btn-danger delete-data"
                                value="{{ url_for('api.delete_match_all', match_id=match.id) }}">删除
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ current_page.links }}
    <script src="../../static/my/jquery.min.js"></script>
    <script>
        $('.delete-data').click(function () {
            var bool = confirm("将删除该场比赛的所有数据，包括报名信息，成绩数据！")
            var matchId = $(this).val()
            if (bool) {
                $.ajax({
                    type: 'DELETE',
                    url: matchId,
                    success: (res) => {
                        alert(res.result)
                        window.location.reload();
                    },
                    error: () => {
                        alert('服务器繁忙，请稍后重试')
                    }
                })
            }
        })
    </script>

{% endblock %}